body {
    margin: 0 200px 0 200px;
}
.imgComp {
    justify-content: space-between;
    display: flex;
}
.imgComp p{
    margin: 10px;
}
.centerBtn {
    display: flex;
    justify-content: center;
    margin: 20px;
}